body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0px;
    background:black;
    overflow-x: hidden;
    padding: 10px 0;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color:white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #dd1515;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 35px;}
    .sidenav a {font-size: 10px;}
  }