<!-- Load an icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="sidebar">
  <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a><br>
  <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a><br>
  <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a><br>

</div> -->

<!-- Side navigation -->
<!-- <div class="sidenav">
  <a  href="/products/list-product"><i class="fa fa-fw fa-wrench"></i> view All Products</a><br>
  <a href="#"  *ngFor="let Cat of Category">
    {{Cat.categoryName}}
  </a>
  
</div>  -->
