
<app-header></app-header>
<div class="container text-center">
<!-- <div>Some tags before</div>

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="assets\image\image1.jpg" ></ng-template>  
  <ng-template carouselSlide><img src="assets\image\image2.jpg" ></ng-template>  
  <ng-template carouselSlide><img src="assets\image\image3.jpg" ></ng-template>  
</owl-carousel-o>
<div>Some tags after</div>
</div> -->

<div class="main">
 <router-outlet></router-outlet>
  
</div>

<app-footer></app-footer>